.landing{
font-size: 2em;
position: fixed;
display: flex;
flex-direction: column;
height: 25%;
width: 25%;
left: 37.5%;
top: 40%;
text-align: center;
justify-content: center;

}
.join-anchor{
  margin-top: 5%;
  border: solid black 0.67px;
  border-radius: 2%;
  color: black;
  text-decoration: none;
}
.start-anchor{
  border: solid black 0.67px;
  border-radius: 2%;
  color: black;
  text-decoration: none;
}
.game-holder{
  background-color: rgb(0, 175, 0);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.player-holder{
  height: 150px;
  width: 50px;
  border: solid black 1px;
}
.dealer-chip{
  color: white;
}
.floor{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./assets/floor.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.poker-table {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 15%;
  top: 15%;
  border-radius: 30%;
  width: 70%;
  height: 70%;
  z-index: -1;
  border: solid black 20px;
}
.poker-table img{
  width: 70%;
  height: 70%;
  position: fixed;
  left: 15%;
  top: 15%;
  right: 0;
  bottom: 0;
  border-radius: 30%;
}
@media (orientation: portrait) {
  .poker-table {
    width: 70%;
    height: 70%;
  }
}

@media (orientation: landscape) {
  .poker-table {
    width: 70%;
    height: 70%;
  }
}